.annotation-marker{
	width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
	transform: translate(30%,-50%);
}

.annotation-editor{
	width:200px;
	height:50px;
	position: absolute;
	background:white;
	display:none;
}

.annotation-container{
	background:gray;
}

.resume{
	position:relative;
}